@import "./_custom_colors";

.notes {
    min-height: calc(100vh - 70px);
    margin-left: 0px;
    margin-top: 0px;
}

.bm-menu {
    background: white;
    padding-top: 10px;
    padding-left: 10px;
}